<div class="quizz__container">
  <div class="quizz_logo">
    <img src="../../../assets/imgs/logotipo_quizz.png" alt="" srcset="">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_questions">
    <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_options">
    <button *ngFor="let option of questionSelected.options; let i = index" (click)="playerChoose(option.alias)" class="btn-option">
      {{option.name}}
    </button>
  </div>

  <div *ngIf=finished class="quizz_results">
    <h1>O SEU RESULTADO É:</h1>
    <p>{{respostaSelected}}</p>

    <button (click)="restartQuiz()" class="btn-restart">Tentar Novamente</button>
  </div>
</div>
