/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: antiquewhite;

}

body{
  background-color: #1b1218;

    background-image: url('../src/assets/imgs/amanha.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
